psycopg2==2.7.4 --no-binary psycopg2
gunicorn==19.9.0
django==1.11.29
djangorestframework==3.6.2
django-extensions==1.7.8     # for graph models
markdown==2.6.8
django-filter==1.0.2
jsonfield==2.0.1
djsw_wrapper>=0.2.3.0
drf-nested-routers==0.90.0
dj-database-url==0.4.2
django-hvad==1.8.0
djangorestframework-gis==0.11
djangorestframework-filters==0.9.1
pytz==2017.2                  # for datetime conversions
django_loaddata_stdin==0.1.0 # for loading test data from the host
pytest-django==3.5.1
numpy==1.18.1
